p {
  /* letter spacing */

  /* letter-spacing: 20px; */

  /* world spacing */
  word-spacing: 30px;
}
div {
  background-color: yellowgreen;
  height: 500px;
  width: 600px;
  margin: 50px 80px;
  background-image: url(./img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* for margine */
  /* margin: 50px 80px; */
  /* for padding */
  /* padding: 50px; */
  /* for border */
  /* border: 5px solid red; */
  /* border: 5px dotted red; */
  /* border: 5px double red; */
  /* border: 5px dashed red; */
  /* border: 5px inset red; */
  /* border: 5px none red; */
  /* border: 5px hidden red; */
  /* border: 5px dotted red; */
  /* for border radius */
  /* border-radius: 50px 80px 100px;  */
  /* border-radius: 50%; */
  
}
