/* *{
    background-color: brown;
}



h2{
    color: green;
 } */

/* #param{
    background-color: gray ;
}

.cl1{
    color: aqua;
} */


/* p {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
} */
 p {
    font-weight: 900;
    font-size: 50px;
 }